.hamburgerMenu {
    display: none;
}


.top {
    background-color: black;
    height: 100px;
}

.searchBar {
    position: absolute;
    top: 32%;
    right: 30%;
}

.searchInput {
    width: 100%;
    height: 40px;
    background-color: #17151b;
    border: 1px solid #23202a;
    color: white;
    padding-right: 30px;

}


    /* Recently Added  ---------------------------------------------------------------------------------------------------------------------------------*/
.recentlyAddedList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
     }
     
     .libraryLogNovel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     }
     .recentlyAdded img {
         display: block;
         width: 100%;
         height: 60%;
         padding: 10px;
         margin-top: 10px;
     }
     
     .recentlyAddedGroup {
         position: relative;
     }
     
     .recentlyAdded h1 {
         margin-left: 10px;
         font-size: 100%;
         margin-top: 2%;
     }
     .type {
         width: auto;
         padding: 2px 5px;
         background-color: rgba(0, 0, 0, 0.6);
         position: absolute;
         bottom: 43%;
         left: 20px;
         text-align: center;
     }
     
     .type p {
         color: white;
     }
     
     p {
         color: #999;
     }
     p:hover {
         color: white;
     } 
     
     p.length {
         margin-left: 10px;
         margin-top: 3%;
         font-size: 100%;
         margin-bottom: 10%;
     }
     
     .recentlyAddedGroup .stars {
         display: flex;
         position: absolute;
         left: 10px;
         bottom: 1% ;
     }

     .libraryGroup {
         height: 200px;
     }

     .libraryGroup h1 {
         padding: 2px 8%;
         position: absolute;
         top: 5%;
         left: 35%;
         font-size: 20px;
         background-color: rgba(0, 0, 0, 0.7);
     }

     .libraryGroup .stars {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 15%;
    }
    .libraryGroup .length {
        margin-left: 0;
        margin: 20px 0;
        position: absolute;
        bottom: 15px;
        display: none;
    }
    
    .libraryGroup .type {
        position: absolute;
        bottom: 18%;
        left: 20%;
    } 

    .libraryTabs {
        width: 95%;
        height: 50px;
        margin: auto;
        background-color: #333;
        border-radius: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .libraryTabs p {
        color: white;
        background-color: #913fe2;
        padding: 0.5% 5%;
        margin: 4%;
        border-radius: 5px;
    }

    .libraryGroup img {
        width: 75%;
        height: 90%;
        display: block;
        margin: auto;
    }

    /* New Novel  ------------------------------------------------------------------------------------------------------------------------*/

.novelSection {
    height: auto;
    width: 100%;
    margin: 20px 0 10px 8.5%;
    background: rgb(34, 34, 34);
}
.novelh1 {
    border-bottom: 1px solid #312f40;
    padding: 15px;
    font-size: 20px;
}
.title {
    height: 50px;
    position: absolute;
    left: 43%;
    top: 5%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.novelSectionItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    border-bottom: 1px solid #312f40;
    width: 100%;
    position: relative;
}

.novelSectionItem  ul{
    position: absolute;
    left: 40%;
    bottom: 58%;
    align-self: center;
    list-style-type: none;
    padding: 10px;
}

.novelSectionItem ul li {
    margin-top: 2px;
    color: #999;
}
.novelSectionItem ul li:hover {
    color: white;
    cursor: pointer;
}
 
.newNovel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-row-gap: 30%; */
    justify-items: start;
}

.newNovel img{
    height: 35%;
    width: 100%;
    margin: 20px;
    padding: 5px;
    transition: 800ms;
} 

.newNovel img:hover {
    opacity: 0.4;
}
.stars {
    position: absolute;
    bottom: 50%;
    left: 40%;
    font-size: 15px;
}
.checked {
    color: yellow;
}


.changeCoverImage{
    /* background-color: rgb(34, 34, 34) ; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    position: relative;
  
}

.coverImg {
    width: 78%;
    margin-left: 10%;
    height: 90%;
    cursor: pointer;
}

.addToLibrary {
    width: 33%;
    height: 60%;
    position: absolute;
    right: 0;
    margin-right: 3%;
    background-color: rgb(34, 34, 34) ;
}


.topFav5 {
    width: 33%;
    position: absolute;
    top: 300px;
    right: 0;
    margin: 7% 3%;
    background: rgb(34, 34, 34);
}

.tabs {
    height: 40%;
    background: #333;
    margin: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.tabs ul li {
    background-color: #913fe2;
    padding: 2% 5%;
    margin: 10%;
    border-radius: 5px;
}

.favNovelList {
    background: rgb(34, 34, 34);

}

.favNovelList .number {
    border: 1px solid #888;
    color: #888;
    display: inline-block;
    padding: 1% 2.5%;
    text-align: center;
    border-radius: 7px;
    height: 40%;
    margin: 2%;
}

.novelGroup {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #312f40;
    padding: 3%;
    height: 100px;
}

.novelGroup .info {
    margin-top: 2px;
}

.novelGroup p {
    font-size: 0.8rem;
    color: #999;
    margin-left: 40%;
    margin-top: 1px;
}

.novelGroup p:hover {
    color: white;
}

.novelGroup h1 {
    position: absolute;
    font-size: 1rem;
    bottom: 45%;
    left: 46%;
    padding-top: 1%;
}

.novelGroup img {
    width: 30%;
    height: auto;
    padding: 3%;
}

.novelGroup .stars {
    bottom: 5%;
    left: 46%;
}


.favorite {
    width: 18%;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUPiYB8dCdTJN7DTmcliXhmof21Wdy0RIqng&usqp=CAU') center center no-repeat;
    background-size: cover;
    height: 90%;
    position: absolute;
    left: 44.7%;
}


.main {
    width: 58.2%;
}

@media screen and (max-width: 1100px) {
    .topFav5 {
        width: 33%;
        position: absolute;
        top: 350px;
        right: 0;
        margin: 7% 3%;
        background: rgb(34, 34, 34);
    }
}

 @media screen and (max-width: 1501px) {
    .topFav5 {
        width: 33%;
        position: absolute;
        top: 400px;
        right: 0;
        margin: 7% 3%;
        background: rgb(34, 34, 34);
    }
}
    @media screen and (max-width: 1700px) {
        .topFav5 {
            width: 33%;
            position: absolute;
            top: 300px;
            right: 0;
            margin: 7% 3%;
            background: rgb(34, 34, 34);
        }
    }