* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #16151d;
    color: white;
    position: relative;
}

header {
    background-color: #913fe2;
    display: grid;
    justify-items: flex-end;
}

header h1 {
    justify-self: flex-start;
    display: inline-block;
    position: absolute;
    top: 10px;
    padding-left: 40px;
}

.redColor {
    color: #e50815;
}

.navBar ul {
    list-style-type: none;
    display: flex;
}

.navBar ul li {
    padding: 20px;
}

.navBar ul li a {
    color: white;
    text-decoration: none;
}


.lightMode {
    font-size: 30px;
    color: black;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    transition: 600ms;
    z-index: 10;
}

.lightMode:hover {
    color: black;
    background-color: white;
}
.mobileNav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.hamburgerMenu {
    font-size: 40px;
    padding-right: 40px;
}

main {
    padding: 7% 15%;
}

main div {
    padding: 2% 0;
}

main div h3 {
    padding: 3%;
}

main div img{
    display: block;
    margin: auto;
    width: 40%;
}

.empty {
    text-align: center;
    position: relative;
    top: 250px;
}

.coverImg {
    width: 100%;
    height: 400px;
    cursor: pointer;
}

.changeImageForm {
    background-color: black;
    width: 500px;
    margin: auto;
    height: 200px;
    display: grid;
    justify-items: center;
    gap: 20px;
    position: relative;
    display: none;
}

.changeImageForm input {
    border: 3px solid black;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.changeImageForm button {
    color: white;
    background-color: coral;
    padding: 10px;
    border: solid white;
    border-radius: 20px;
}

.changeImageForm button:hover {
    background-color: black;
    color: white;
}
.changeImageForm button:focus {
    outline: none;
}

.closeBtn {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
}

.closeBtn:hover {
    color: red;
}

.blackLayer {
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackLayer nav ul {
    list-style-type: none;
    display: flex;
}

.blackLayer nav ul li {
    padding: 0 20px;
}


footer {
    background-color: #222;
    height: 150px;
    width: 100%;
    display: grid;
}

footer img {
    height: 200px;
    position: fixed;
    bottom: 40px;
    right: 20px;
}

@media (min-width: 901px) {
    .mobileNav {
        display: none;
    }
    nav {
        display: inline-block !important;
    }

}

@media (max-width: 900px) {
    header {
        height: 60px;
    }

    .hamburgerMenu{
        position: absolute;
        top: 10px;
        right: 40px;
        z-index: 12;
    }
    .navBar {
        display: none;
        height: 100%;
        background-color: black;
        padding: 70px 40px; 
        text-align: center;
        z-index: 10;
    }

    .navBar ul{
        display: block;
    }

    .coverImg {
        height: 300px;
    }
}

@media (max-width: 500px) {
    nav {
        width: 100%;
    }

    header h1, .hamburgerMenu {
        padding: 0;
    }
    
    .coverImg {
        height: 200px;
    }
}