/* Reset ---------------------------------------------------------------------------------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ScrollBar -----------------------------------------------------------------------------------------------------------------------------*/

html::-webkit-scrollbar {
    width: 20px;
    height: 30px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(#913fe2,#b368ff, #cea4f8);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17);
}

/* SearchBar -----------------------------------------------------------------------------------------------------------------------------*/
.top {
    height: 100px;
    background-color: black;
    position: relative;
    width: 100%;
}

.searchBar {
    position: absolute;
    left: 30%;
    top: 35%;
}

.searchInput {
    width: 300px;
    height: 40px;
    background-color: #17151b;
    border: 1px solid #23202a;
    color: white;
    padding-right: 30px;
}

.searchInput::placeholder {
    color: white;
    padding-left: 10px;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #999;
}

/* General ---------------------------------------------------------------------------------------------------------------------------------*/

body {
    background-color: #16151d;
    color: white;
    position: relative;
}

header {
    background-color: #913fe2;
    height: 35px;
}

a {
    color: white;
    text-decoration: none;
}
.redColor {
    color: #e50815;
}

.logo {
    display:  grid;
    grid-template-rows: 0;
    background-color: #0b0a0d;
}
.logo img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: solid #913fe2;
    margin-left: 10%;
    align-self: flex-end;
    position: absolute;
    top: 8px;
}
/* Navbar ---------------------------------------------------------------------------------------------------------------------------------*/
.navBar {
    margin-left: 20%;
}

.profileImg {
    height: 30px;
}

.navBar ul {
    list-style-type: none;
    display: flex;
    height: 35px;
}

.navBar ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.navBar ul li {
    height: 35px;
    padding: 15px;
    align-self: center;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.backToTop {
    background-color: #913fe2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    right: 2%;
    padding: 0;
}

.topBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}
/* Change Profile ------------------------------------------------------------------------------------------------------------------------*/

.changeProfile {
    background-color: black;
    width: 200px;
    border: solid #913fe2;
    margin-left: 17%;
    display: grid;
    padding: 20px;
    display: none;
    position: relative;
}

.changeProfile label {
    font-size: 14px;
    align-self: center;
    justify-self: start;
    padding-left: 10%;
}

.changeProfile input {
    height: 30px;
    border: none;
    background-color: #eee;
    width: 80%;
    justify-self: center;
}

.changeProfile input:focus {
    outline: none;
}

/* Recently Added  ---------------------------------------------------------------------------------------------------------------------------------*/

.recentlyAddedList {
    display: flex;
    justify-content: center;
    height: 260px;
}

.recentlyAdded img {
    display: block;
    width: 100%;
    height: 60%;
    padding: 10px;
    margin-top: 10px;
}

.recentlyAddedGroup {
    position: relative;
}

.recentlyAdded h1 {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.type {
    width: auto;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 110px;
    left: 20px;
    text-align: center;
}

.type p {
    color: white;
}

p {
    color: #999;
}
p:hover {
    color: white;
} 

p.length {
    margin-left: 10px;
    margin-top: 10px;
}

.recentlyAddedGroup .stars {
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
/* LightMode ---------------------------------------------------------------------------------------------------------------------------------*/

.theme {
    margin: 20px;
    height: 25px;
    width: 50px;
    border-radius: 34px;
    background-color: #222;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20%;
    position: relative;
    left: 85%;
    top: 30%;
}


.lightMode {
    font-size: 15px;
    background-color: #913fe2;
    border-radius: 50%;
    padding: 5px;
    color: black;
    color: white;
}

.mobileNav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.hamburgerMenu {
    font-size: 40px;
    padding-right: 40px;
} 

/* Main Section ---------------------------------------------------------------------------------------------------------------------------------*/

/* .main {
    padding: 0 10%;
}

.main div {
    display: flex;
    width: 67.7%;
    background-color: rgb(34, 34, 34);
    height: auto; 
} */




.novelSection, .animeSection, .mangaSection {
    margin-top: 20px;
}

/* New Novel  ------------------------------------------------------------------------------------------------------------------------*/

.novelSection {
    
    width: 54.2%;
    margin: 20px 10% 10px;
    background: rgb(34, 34, 34);
}
.novelh1 {
    border-bottom: 1px solid #312f40;
    padding: 15px;
    font-size: 20px;
}
.title {
    height: 50px;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.novelSectionItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 450px;
    border-bottom: 1px solid #312f40;

    position: relative;
}

.novelSectionItem  ul{
    position: absolute;
    left: 230px;
    bottom: 240px;
    align-self: center;
    list-style-type: none;
    padding: 10px;
}

.novelSectionItem ul li {
    margin-top: 10px;
    color: #999;
}
.novelSectionItem ul li:hover {
    color: white;
    cursor: pointer;
}


  .novelSectionItem button {
      height: 40px;
      border-radius: 34px;
      display: block;
      margin: 10px;
      border: none;
      color: white;
     transition: 400ms;
      background-color: rgb(34, 34, 34);
      border: 2px solid #999;
      
  }

.novelSectionItem button:hover {
      /* background: black; */
      color: white;
      border: 3px solid white;
      transform: scale(1.03);
}

.novelSectionItem button:focus {
    outline: none;
}
  .addToFavorite {
      background: turquoise;
      position: absolute;
      bottom: 50px;
  }

  .top5 {
      background: #ff6600;
      position: absolute;
      bottom: 95px;
  }

  .status {
      background: #913fe2;
  }
  .remove {
      background: red;
      position: absolute;
      bottom: 5px;
  }
.remove, .addToFavorite, .top5 {
    width: 96% !important;
    display: block;
    margin: auto;
    /* background: red; */
}
 
.newNovel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-row-gap: 30%; */
    justify-items: start;
}

.newNovel img{
    height: 250px;
    width: 200px;
    margin: 20px;
    padding: 5px;
    transition: 800ms;
} 

.newNovel img:hover {
    opacity: 0.4;
}
.stars {
    position: absolute;
    bottom: 200px;
    left: 240px;
}
.checked {
    color: yellow;
}
/* Empty Sign ---------------------------------------------------------------------------------------------------------------------------------*/

.emptyDiv {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.emptyImg {
    display: none !important;
}
.empty {
    position: absolute;
    font-size: 90%;
    display: none;
}

/* Cover Image ---------------------------------------------------------------------------------------------------------------------------------*/
.changeCoverImage{
    /* background-color: rgb(34, 34, 34) ; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    position: relative;
}

.coverImg {
    width: 78%;
    margin-left: 20%;
    height: 300px;
    cursor: pointer;
}

.addToLibrary {
    width: 25%;
    height: 75%;
    position: absolute;
    right: 0;
    margin-right: 10%;
    background-color: rgb(34, 34, 34) ;

}

.addToLibrary h1 {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.addNovel, .addAnime, .addManga {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 34px;
    height: 20%;
    margin-top: 10px;
    cursor: pointer;
    background-color: turquoise;
    color: white;
    border: none;
    transition: 400ms;
}

.addAnime {
    background-color: #ff6600;
}

.addManga {
    background-color: #913fe2;
}

.addNovel:focus, .addAnime:focus, .addManga:focus {
    outline: none;
}

.addNovel:hover, .addAnime:hover, .addManga:hover {
    background-color: black;
} 

/* Favorite ---------------------------------------------------------------------------------------------------------------------------------*/

.favorite {
    width: 28%;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUPiYB8dCdTJN7DTmcliXhmof21Wdy0RIqng&usqp=CAU') center center no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

.crown {
    position: absolute;
    right: 0;
    width: 70px;
    height: 70px;
}

.checked {
    color: yellow;
}

.topFav5 {
    width: 25%;
    position: absolute;
    top: 385px;
    right: 0;
    margin: 1.8% 10%;
    background: rgb(34, 34, 34);
}

.tabs {
    height: 40px;
    background: #333;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.tabs ul li {
    background-color: #913fe2;
    padding: 2% 10%;
    margin: 10%;
    border-radius: 5px;
}

.favNovelList {
    background: rgb(34, 34, 34);

}

.favNovelList .number {
    border: 1px solid #888;
    color: #888;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    border-radius: 7px;
    height: 40px;
    margin: 20px
}

.novelGroup {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #312f40;
    padding: 10px;
}

.novelGroup .info {
    margin-top: 2px;
}

.novelGroup p {
    font-size: 14px;
    color: #999;
    margin-left: 25px;
    margin-top: 5px;
}

.novelGroup p:hover {
    color: white;
}

.novelGroup h1 {
    position: absolute;
    bottom: 85px;
    left: 200px;
}

.novelGroup img {
    width: 90px;
    height: 120px;
}

.novelGroup .stars {
    bottom: 10px;
    left: 200px;
}

/* Change Image ---------------------------------------------------------------------------------------------------------------------------------*/

.changeImageForm {
    background-color: black;
    width: 500px;
    margin: auto;
  padding: 40px;
    display: grid;
    justify-items: center;
    gap: 20px;
    position: relative;
    display: none;
}

.changeImageForm input {
    border: 3px solid black;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.changeImageForm button {
    color: white;
    background-color: coral;
    border: solid white;
    border-radius: 20px;
    padding: 10px;
}

.changeImageForm button:hover {
    background-color: black;
    color: white;
}
.changeImageForm button:focus {
    outline: none;
}

.closeBtn {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.closeBtn:hover {
    color: red;
}

/* Library Log */

.libraryLog {
    margin-bottom: 60px;
}

.libraryTabs {
    width: 95%;
    height: 50px;
    margin: auto;
    background-color: #333;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.libraryTabs p {
    color: white;
    background-color: #913fe2;
    padding: 0.5% 30px;
    margin: 30px;
    border-radius: 5px;
}

.libraryLogNovel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.libraryGroup {
    padding: 10px;
    position: relative;
    height: 250px;
}

.libraryGroup img {
    width: 100%;
    height: auto;
}
.libraryGroup .stars {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.libraryGroup .length {
    margin-left: 0;
    position: absolute;
    bottom: 35px;
}

.libraryGroup .type {
    position: absolute;
    bottom: 105px
}
/* Footer --------------------------------------------------------------------------------------------------------------------------------- */

.footer1 {
    background-color: #913fe2;
    height: 40px;
    width: 100%;
}

.footer2 .logo {
    border-radius: 50%;
    height: auto;
    width: 100px;
    display: block;
    margin: 20px auto;
}

.footer2 p {
    text-align: center;
    margin-bottom: 40px
}

/* Mobile ---------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 901px) {
    .mobileNav {
        display: none;
    }
    nav {
        display: inline-block !important;
    }

}

@media (max-width: 900px) {
    header {
        height: 60px;
    }

    .hamburgerMenu{
        position: absolute;
        top: 10px;
        right: 40px;
        z-index: 12;
    }
    .navBar {
        display: none;
        height: 100%;
        background-color: black;
        padding: 70px 40px; 
        text-align: center;
        z-index: 10;
    }

    .navBar ul{
        display: block;
    }

    .coverImg, .favorite {
        height: 300px;
    }
}

@media (max-width: 500px) {
    nav {
        width: 100%;
    }

    header h1, .hamburgerMenu {
        padding: 0;
    }
    
    .coverImg, .favorite{
        height: 200px;
    }
}